.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  padding: 20px;
}

ul li label {
  padding-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  display: block;
}

ul li {
  margin-bottom: 10px;
}

section {
  column-count: 3;
  column-gap: 20px;
}

.hide-solution {
  display: none;
}
